  /* general styles */

  :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
  }

.scroller {
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
}

.scroller__inner {
  padding-block: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
  background-color: rgb(94, 94, 94);
  border-radius: 7px;
  border: 2px solid #fff;
}

.tag-list li {
  padding: 7px;
  font-size: 13px;
  color: #fff;
}


@media screen and (max-width: 600px) {
  .scroller {
    max-width: 100%;
    position: absolute;
    left: 0;
  }

  .scroller__inner {
    padding-block: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    width: 100%;
    -webkit-mask: linear-gradient(90deg);
    mask: linear-gradient(90deg);
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;

    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 30s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }


  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
    /* width: 100vw; */
    background-color: rgb(94, 94, 94);
    border: 2px solid #fff;
  }

  .tag-list li {
    padding: 5px;
    font-size: 10px;
  }
}
